doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title
            block title
        link(rel='styelsheet', href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', type='text/css')

    body
        block nav
        block main
    footer
        block footer