mixin copyright(options)
	ul(class='copyright-bar')
		li(class='copyright-bar__sign') Copyright
				
		li
			ul(class='copyright-bar__social')
				li
					img(src='./../src/img/twit.svg')/
				li
					img(src='./../src/img/inst.svg')/
				li
					img(src='./../src/img/fb.svg')/