mixin footer(options)
	ul(class='footer-widgets')
		li(class='footer-widgets__group-logo')
			ul
				li(class='item-bold')
					img(src='./../src/img/logo.png')/
					a(class='nav-bar__logo_label') TOXIN
				li Бронирование номеров в лучшем отеле 2019 года по версии Отельные взгляды
		li(class='footer-widgets_group-navigation')
			ul
				li(class='item-bold') Навигация
				li О нас
				li Новости
				li Служба поддержки
				li Услуги
		li(class='footer-widgets_group-about')
			ul
				li(class='item-bold') О нас
				li О сервисе
				li Наша компания
				li Вакансии
				li Инвесторы
		li(class='footer-widgets_group-support')
			ul
				li(class='item-bold') Служба поддержки
				li Соглашения
				li Сообщества
				li Связь с нами
		li(class='footer-widgets_group-subscribe')
			ul
				li(class='item-bold') Подписка
				li Получайте специальные предложения и новости сервиса
				li Сообщества
				li Связь с нами
