mixin footer(options)
	footer(class='footer-widgets')
		ul(class='footer-widgets__group-logo')
			li(class='footer-widgets__group-logo') TOXIN
			li(class='footer-widgets__group-logo') TOXIN
		ul(class='footer-widgets_group-navigation')
			li(class='footer-widgets__group-logo') TOXIN
			li(class='footer-widgets__group-logo') TOXIN
			li(class='footer-widgets__group-logo') TOXIN
			li(class='footer-widgets__group-logo') TOXIN
		ul(class='footer-widgets_group-about')
			li(class='footer-widgets__group-logo') TOXIN
			li(class='footer-widgets__group-logo') TOXIN
			li(class='footer-widgets__group-logo') TOXIN
			li(class='footer-widgets__group-logo') TOXIN
		ul(class='footer-widgets_group-')
			li(class='footer-widgets__group-logo') TOXIN
			li(class='footer-widgets__group-logo') TOXIN
			li(class='footer-widgets__group-logo') TOXIN
			li(class='footer-widgets__group-logo') TOXIN
