mixin nav(options)
	nav(class='nav-bar')
		ul(class='nav-bar__menu')
			li(class='nav-bar__logo item')
				img(src='./../src/img/logo.png')/
				a(class='nav-bar__logo_label') TOXIN
			li(class='nav-bar__about item') О нас
			li(class='nav-bar__services item') Услуги
				div(class='nav-bar__services__img')
					img(src='./../src/img/expandmore.png')/
			li(class='nav-bar__careers item') Вакансии
			li(class='nav-bar__news item') Новости
			li(class='nav-bar__documentation item') Соглашения
				div(class='nav-bar__documentation__img')
					img(src='./../src/img/expandmore.png')/
			li(class='nav-bar__login item')
				button(class='nav-bar__login_button') войти
			li(class='nav-bar__register item') 
				button(class='nav-bar__register_button') зарегистрироваться