mixin nav(options)
	nav(class='nav-bar')
		ul(class='nav-bar__menu')
			li(class='nav-bar__logo item') TOXIN
			li(class='nav-bar__home item') Home
			li(class='nav-bar__about item') About
			li(class='nav-bar__services item') Serivces
			li(class='nav-bar__careers item') Careers
			li(class='nav-bar__news item') News
			li(class='nav-bar__documentation item') Documentation
			li(class='nav-bar__login item') Login
			li(class='nav-bar__register item') Register