@import '/nav-bar.scss';
@import '/main.scss';
@import '/footer.scss';
@import '/copyright.scss';
@import '/pick_number.scss';

$bg-color: pink;

body {
 background: $bg-color;
 margin: 0;
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
}