footer {
	background-color: white;
}

.footer-widgets {
	  display: flex;
	  list-style-type: none;
	  font-size: 20px;
	  justify-content: center; 
	  padding: 0px;
	  margin-top: 130px;
	  flex-wrap: wrap;
	  backgroud: white;
      align-items: flex-start;


	  ul {
	  	list-style-type: none;
	  }

	  .item {
	  	display: flex;
	  	flex-direction: column;
	  }

	  .footer-widgets__group-logo {
	  	width: 300px;
	  }

	  .footer-widgets_group-subscribe {
	  	width: 300px;
	  }
}